{% extends "base.html" %}

{% block content %}

<h2>Solicitar Turno</h2>

<a href="/dashboard" class="btn">⬅ Volver al inicio</a>

<div class="formulario">

<form method="POST">

    <label>Seleccionar Turno</label>
    <select name="turno" required>
        {% for t in turnos %}
            <option value="{{ t.id }}">
                {{ t.nombre }} | {{ t.hora_inicio }} - {{ t.hora_fin }}
            </option>
        {% endfor %}
    </select>

    <label>Fecha inicio</label>
    <input type="date" name="inicio" required>

    <label>Fecha fin</label>
    <input type="date" name="fin" required>

    <button type="submit">Enviar Solicitud</button>

</form>

</div>

{% endblock %}